<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<form method="post" th:action="@{/orders}" th:object="${order}">
    <h1>Order your taco creations!</h1>
    <img th:src="@{/images/TacoCloud.png}" alt="头像"/>
    <br/>
    <a th:href="@{/design}">Design another taco</a>
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
        <label>Street address:</label>
        <input type="text" th:field="*{street}">
        <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
    </div>
    <div>
        <label>City:</label>
        <input type="text" th:field="*{city}">
        <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
    </div>
    <div>
        <label>State:</label>
        <input type="text" th:field="*{state}">
        <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>
    </div>
    <div>
        <label>Zip code:</label>
        <input type="text" th:field="*{zip}">
        <span th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></span>
    </div>
    <div>
        <label>Credit Card #:</label>
        <input type="text" th:field="*{ccNumber}">
        <span th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}"></span>
    </div>
    <div>
        <label>Expiration:</label>
        <input type="text" th:field="*{ccExpiration}">
        <span th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}"></span>
    </div>
    <div>
        <label>CVV:</label>
        <input type="text" th:field="*{ccCVV}">
        <span th:if="${#fields.hasErrors('ccCVV')}" th:errors="*{ccCVV}"></span>
    </div>
    <input type="submit" value="提交">
</form>
</body>
</html>