<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lanmao.study202110.mybatisstudy2.dao.UserDetailDAO">

    <insert id="insertUserDetail" useGeneratedKeys="true" keyProperty="detailId">
        insert into mybatis_study_2021.user_detail(user_detail.user_address, user_detail.user_tel,
                                                   user_detail.user_description, user_detail.user_id,
                                                   user_detail.create_time, user_detail.update_time)
        values (#{userAddress}, #{userTel}, #{userDescription}, #{userId}, #{createTime}, #{updateTime})
    </insert>

    <resultMap id="userDetail" type="UserDetail">
        <id column="detail_id" property="detailId"/>
        <result column="user_address" property="userAddress"/>
        <result column="user_tel" property="userTel"/>
        <result column="user_description" property="userDescription"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <select id="getUserDetailByUserId" resultMap="userDetail">
        select user_detail.detail_id,
               user_detail.user_address,
               user_detail.user_tel,
               user_detail.user_description,
               user_detail.user_id,
               user_detail.create_time,
               user_detail.update_time
        from mybatis_study_2021.user_detail
        where user_detail.user_id = #{userId}
    </select>

</mapper>