<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ClassMapper">
    <select expId="getById" resultType="Clazz" parameterType="int">
        select * from test_mybatis.class where class.expId = #{expId};
    </select>
    <select expId="listAll" resultType="Clazz">
        select * from test_mybatis.class ;
    </select>
</mapper>