<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">
    <!--扫描Service的包-->
    <context:component-scan base-package="top.lan_mao.computer_world.study_2022.ssm_demo01.service"/>

    <!--注入Bean，可以使用注解或使用配置实现-->
<!--    <bean id="bookServiceImpl" class="top.lan_mao.computer_world.study_2022.ssm_demo01.service.BookServiceImpl">-->
<!--        <property name="bookDao" ref="bookDao"/>-->
<!--    </bean>-->

    <!--添加Spring的事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceByDruid"/>
    </bean>
</beans>