#! ---------------------------------------------------------------
#!  ▄▀▄ █▀▄ ▄▀▀ ▀ █▀▄ ▀ ▄▀▄ █▄░█
#! █░█ █▀█ ░▀▄ █ █░█ █ █▀█ █░▀█
#!░▀░ ▀▀░ ▀▀░ ▀ ▀▀░ ▀ ▀░▀ ▀░░▀
#! ᴅᴇsɪɢɴᴇᴅ & ᴄᴏᴅᴇᴅ ʙʏ ᴛʀɪᴅɪᴀᴍᴏɴᴅ
#! ---------------------------------------------------------------
#! Theme Obsidian - A dark Hexo theme, it's responsive, simple but elegant.
#! Thanks to and inspirated by CSS-Tricks
#! @author: TriDiamond
#! @github: https://github.com/TriDiamond
#! @changelogs: https://github.com/TriDiamond/hexo-theme-obsidian/blob/master/CHANGELOG.md
#! @feedbacks: https://github.com/TriDiamond/hexo-theme-obsidian/issues/new
#! ---------------------------------------------------------------

#! ---------------------------------------------------------------
#!  █▄░█ ▄▀▄ ▀█▀ █▀▀ ▄▀▀
#! █░▀█ █░█ ░█░ █▀▀ ░▀▄
#!▀░░▀ ░▀░ ░▀░ ▀▀▀ ▀▀░ v1.x
#! ---------------------------------------------------------------
#! Since version `v1.3.5` code block highlight has changed from `highlight.js` to
#! `codemirror`, but the Hexo default highlight still need to be disabled to take affect.
#! !! So Please make sure you disabled Hexo's default highlight setting !!
#! ---------------------------------------------------------------
#! Rebuild files after you changed the config:
#! `hexo clean && hexo g`
#! ---------------------------------------------------------------
#! highlight:
#!  enable: false
#!  line_number: true
#!  auto_detect: true
#!  tab_replace:
#! ---------------------------------------------------------------

# Theme version
# !! DO NOT EDIT THIS !!
version: '1.4.4'

# ---------------------------------------------------------------
# Theme default settings
# ---------------------------------------------------------------

# Menu setting | format = title_name: link_url
menu:
  ABOUT: /whoami
  CATEGORIES: /categories
  TAGS: /tags
  ARCHIVES: /archives

# Page custom titles
page_titles:
  categories: 'Categories'
  tags: 'Tags'
  archives: 'Archived'

# Social media links
socials:
  github: "https://github.com/lan-mao"

# Enable table of content
TOC: true

# Home page first post default cover image, default use cover
welcome_cover: /img/cover.jpg

# Article default cover image
cover: /img/welcome-cover.jpg

# Avatar
avatar: /头像.jpg

# Disable default scrollbar
scrollbar: true

# Website keywords used for SEO
keywords: TriDiamond Obsidian

# Website slogans
descriptionTwo: 只有那些疯狂到认为自己可以改变世界的人才能真正地改变世界
descriptionOne: 这些困难我们总归要跨过去，为什么不是现在呢

# If you use google analytics, please fill in the ID
google_analytics:

# Website favicon
favicon: /img/favicon.png

# rss file
rss: atom.xml

# ---------------------------------------------------------------
# Article Music settings
# ---------------------------------------------------------------

# Auto play article audio
autoplay: true

# default mp3 file
mp3:
  - https://lan-mao.gitee.io/statics/Jason%20Mraz%20-%20I%27m%20Yours.mp3
  - https://lan-mao.gitee.io/statics/Taylor%20Swift%20-%20Ours.mp3
  - https://lan-mao.gitee.io/statics/Lana%20Del%20Rey%20-%20Video%20Games.mp3
  - https://lan-mao.gitee.io/statics/Taylor%20Swift%20-%20Enchanted.mp3
  - https://lan-mao.gitee.io/statics/%E7%84%A6%E8%BF%88%E5%A5%87%20-%20%E4%BD%A0%E6%9B%BE%E6%98%AF%E5%B0%91%E5%B9%B4.mp3
  - https://lan-mao.gitee.io/statics/%E5%8D%97%E5%BE%81%E5%8C%97%E6%88%98NZBZ%20-%20%E5%A4%A9%E9%AB%98%E8%B7%AF%E8%BF%9C.mp3

# ---------------------------------------------------------------
# Plugins
# ---------------------------------------------------------------

# Gitalk comment plugin
# see https://github.com/gitalk/gitalk
gitalk:
  enable: true
  autoExpand: true
  clientID: '8678b87961ccb910c165'
  clientSecret: 'd9919b5a800fe54e09bce61db0a39f623e63cde7'
  accessToken: '392df5ed91661f3e0423556306ec767f207e5ed0'
  repo: 'lan-mao.github.io'
  owner: 'lan-mao'
  admin: ['lan-mao']
  # Ensure uniqueness and length less than 50
  id: location.pathname
  # Facebook-like distraction

# Valine comment plugin (recommended!)
# see https://valine.js.org/quickstart.html
valine:
  enable: false
  app_id: 
  app_key: 
  notify: false
  verify: false
  avatar: 'mp'
  placeholder: 'Leave your throughs behind~'
  visitor: true

# Enable symbols-count-time plugin
# see https://github.com/theme-next/hexo-symbols-count-time
symbols_count_time:
  enable: true
  wordCount: true
  readCount: true
  awl: 4
  wpm: 275
  suffix: mins.

# Enable html truncate
# see https://github.com/TriDiamond/hexo-html-truncate
html_truncate:
  enable: true
  # Characters kept for posts
  postLength: 250
  # Characters kept for cover posts
  coverLength: 100
  ellipsis: '...'
  # Excluding html tags
  excludes: ['img', 'h1', 'h2']
  # Characters count including white spaces
  keepWhitespaces: true
  # Reserving the last complete word, without breaking the word
  reserveLastWord: true

# Enable Busuanzi statistic plugin
# see http://ibruce.info/2015/04/04/busuanzi/
busuanzi:
  enable: true

#Enable social media sharing
sharejs:
  enable: false
  disabled: 'facebook,douban,linkedin,diandian,tencent,google,twitter'

# Use codemirror instead of highlight js for better colors
# if you want more language support check the modes list at official website
# modes see: https://codemirror.net/mode/
# see https://codemirror.net/
codemirror:
  modes: ['shell','java','javascript', 'css', 'xml', 'htmlmixed', 'clike', 'php', 'shell', 'python','sql','markdown']

# Enabling mathjax support
mathjax: true

# custom header HTML
header_html: ''

# custom footer HTML
footer_html: '
<!-- 例：百度统计 -->
<script>
    (function () {
        var bp = document.createElement('script');
               var curProtocol = window.location.protocol.split(':')[0];
               if (curProtocol === 'https') {
               bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
               }
               else {
               bp.src = 'http://push.zhanzhang.baidu.com/push.js';
               }
               var s = document.getElementsByTagName("script")[0];
               s.parentNode.insertBefore(bp, s);
               })();
  </script>
'
