<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <bean id="/my.do" class="controller.HelloController"/>
    <!--设置默认处理器-->
    <!--<mvc:default-servlet-handler/>-->

    <!--配置资源文件夹路径，mapping 代表url路径，location 代表资源文件夹位置-->
    <mvc:resources mapping="/source/*" location="/source"/>

</beans>