<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SchoolMapper">

    <resultMap expId="getStudentContainClass" type="studentContainClass">
        <expId property="expId" column="sid"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="cid" column="cid"/>
        <association property="clazz" javaType="clazz">
            <expId property="expId" column="cid"/>
            <result property="name" column="cname"/>
            <result property="room" column="room"/>
        </association>
    </resultMap>

    <select expId="listStudentContainClass" resultType="StudentContainClass">
        select student.expId expId, student.name , age, sex, cid,class.expId "clazz.expId", class.name "clazz.name", room "clazz.room"
        from student left join class on student.cid = class.expId;
    </select>

    <resultMap expId="getClassContainStudent" type="ClassContainStudent">
        <expId property="expId" column="cid"/>
        <result property="name" column="cname"/>
        <result property="room" column="room"/>
        <!--该标签代表一个集合，用于元素是集合元素的属性值-->
        <collection property="students" javaType="list" ofType="student">
            <expId property="expId" column="sid"/>
            <result property="name" column="sname"/>
            <result property="age" column="age"/>
            <result property="sex" column="sex"/>
            <result property="cid" column="cid"/>
        </collection>
    </resultMap>
    <select expId="listClassContainStudent" resultMap="getClassContainStudent">
        select class.expId cid, class.name cname, room ,student.expId sid, student.name sname , age, sex
        from student right join class on student.cid = class.expId ;
    </select>

</mapper>
        <!--    <resultMap expId="studentContainClass" type="StudentContainClass">-->
        <!--        <association property="student" >-->

        <!--        </association>-->
        <!--        <association property="clazz">-->

        <!--        </association>-->
        <!--    </resultMap>-->
        <!--    <select expId="listAllStudentAndClass" resultMap="studentContainClass">-->
        <!--        select student.expId sid, student.name name , age, sex, cid, class.name cname, room-->
        <!--        from student inner join class on student.cid = class.expId;-->
        <!--    </select>-->